{% extends "templates/web.html" %}

{%- block title -%}{{_("Verify your file")}}{%- endblock -%}

{%- block head_include %}
<link rel="stylesheet" href="/assets/css/verification.css?ver={{ build_version }}">
<link type="text/css" rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock -%}


{% block page_content %}
<div class="verification-page">
	<div class="text-center my-5">
		<h1 class="h2">{{ _("Welcome to Davron Digital documents verification page") }}</h1>
	</div>
	<div class="file-upload-section frappe-card hide">
		<div class="file-uploader"></div>
	</div>
	<div class="file-audit-section frappe-card mt-5 hide">
		<div class="result"></div>
		<div class="details"></div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/verification.js"></script>
<script>
	frappe.ready(function() {
		new popcorn.ui.verification({
			upload_wrapper: ".file-upload-section",
			audit_wrapper: ".file-audit-section"
		})
	});
</script>
{% endblock %}