// button general
$btn-border-radius: 0.375rem !default;
$btn-padding-x: 2rem !default;
$btn-padding-y: 1rem !default;
$btn-font-weight: 400 !default;
$btn-active-box-shadow: var(--shadow-inset);
//////////////////

:root,
[data-theme="light"] {
  --pink-900: #5b1e34;
  --pink-800: #702440;
  --pink-700: #97264f;
  --pink-600: #d2326d;
  --pink-500: #f2508b;
  --pink-400: #f46b9e;
  --pink-300: #f584ae;
  --pink-200: #fab9d1;
  --pink-100: #fcdce8;
  --pink-50: #feedf3;

  --blue-1000: #011481;
  --blue-900: #013781;
  --blue-800: #0244a2;
  --blue-700: #024bd6;
  --blue-600: #0255ca;
  --blue-500: #013781;
  --blue-400: #0266f2;
  --blue-300: #0d71fd;
  --blue-200: #217cfd;
  --blue-100: #3588fd;
  --blue-50: #4994fd;

  --green-900: #2d401d;
  --green-800: #44622a;
  --green-700: #518b21;
  --green-600: #68ab30;
  --green-500: #8ccf54;
  --green-400: #a5d97a;
  --green-300: #bce39b;
  --green-200: #d2ecbd;
  --green-100: #e9f6de;
  --green-50: #f4faee;

  --dark-green-900: #1f3e2b;
  --dark-green-800: #29593b;
  --dark-green-700: #286840;
  --dark-green-600: #2e844e;
  --dark-green-500: #2f9d58;
  --dark-green-400: #59b179;
  --dark-green-300: #82c49b;
  --dark-green-200: #acd8bc;
  --dark-green-100: #dfeee5;
  --dark-green-50: #eaf5ee;

  --gray-900: #1f272e;
  --gray-800: #333c44;
  --gray-700: #505a62;
  --gray-600: #687178;
  --gray-500: #98a1a9;
  --gray-400: #c0c6cc;
  --gray-300: #dce0e3;
  --gray-200: #ebeef0;
  --gray-100: #f4f5f6;
  --gray-50: #f5f5f5;

  --red-900: #631d1d;
  --red-800: #802121;
  --red-700: #9b2c2c;
  --red-600: #c53030;
  --red-500: #e24c4c;
  --red-400: #ec645e;
  --red-300: #fca4a4;
  --red-200: #fcc8c8;
  --red-100: #ffecec;
  --red-50: #fff5f5;

  --yellow-900: #5f370e;
  --yellow-800: #744210;
  --yellow-700: #975a16;
  --yellow-600: #b7791f;
  --yellow-500: #d69e2e;
  --yellow-400: #ecb64b;
  --yellow-300: #f6c35e;
  --yellow-200: #fad489;
  --yellow-100: #fee9bf;
  --yellow-50: #fef4e2;

  --orange-900: #653019;
  --orange-800: #7b3a1e;
  --orange-700: #9c4621;
  --orange-600: #cb5a2a;
  --orange-500: #f8814f;
  --orange-400: #f9966c;
  --orange-300: #fdae8c;
  --orange-200: #fecdb8;
  --orange-100: #ffeae1;
  --orange-50: #fff5f0;

  --purple-900: #343360;
  --purple-800: #45438f;
  --purple-700: #4946bf;
  --purple-600: #6461d6;
  --purple-500: #8684ff;
  --purple-400: #9897f7;
  --purple-300: #b9b8fa;
  --purple-200: #dad9f7;
  --purple-100: #eaeafb;
  --purple-50: #f2f2fd;

  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding-md: 15px;
  --padding-lg: 20px;
  --padding-xl: 30px;
  --padding-2xl: 40px;

  --margin-xs: 5px;
  --margin-sm: 8px;
  --margin-md: 15px;
  --margin-lg: 20px;
  --margin-xl: 30px;
  --margin-2xl: 40px;

  --font-stack: "Lato", "Inter", "-apple-system", "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  --font-stack-title: "American Typewriter", "Merriweather", "Lato", "Inter",
    "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --text-bold: 500;

  --shadow-xs: rgba(0, 0, 0, 0.05) 0px 0.5px 0px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
  --shadow-sm: 0px 1px 2px rgba(25, 39, 52, 0.05),
    0px 0px 4px rgba(25, 39, 52, 0.1);
  --shadow-base: 0px 4px 8px rgba(25, 39, 52, 0.06),
    0px 0px 4px rgba(25, 39, 52, 0.12);
  --shadow-md: 0px 8px 14px rgba(25, 39, 52, 0.08),
    0px 2px 6px rgba(25, 39, 52, 0.04);
  --shadow-lg: 0px 18px 22px rgba(25, 39, 52, 0.1),
    0px 1px 10px rgba(0, 0, 0, 0.06), 0px 0.5px 5px rgba(25, 39, 52, 0.04);

  --modal-shadow: var(--shadow-md);
  --card-shadow: var(--shadow-md);
  --btn-shadow: var(--shadow-xs);

  // Type Colors
  --text-muted: var(--gray-600);
  --text-light: var(--gray-800);
  --text-color: var(--gray-900);
  --heading-color: var(--gray-900);

  // SVG Colors
  --icon-fill: transparent;
  --icon-fill-bg: var(--fg-color);
  --icon-stroke: var(--gray-900);

  // Background Text Color Pairs
  --bg-blue: var(--blue-100);
  --bg-light-blue: var(--blue-50);
  --bg-green: var(--text-muted) !important;
  --bg-yellow: var(--yellow-500);
  --bg-orange: var(--orange-500);
  --bg-red: var(--red-500);
  --bg-gray: var(--gray-200);
  --bg-light-gray: var(--gray-100);
  --bg-purple: var(--purple-100);

  --text-on-blue: var(--blue-600);
  --text-on-light-blue: var(--blue-500);
  --text-on-blue: var(--blue-600);
  --text-on-green: var(--dark-green-500);
  --text-on-yellow: var(--yellow-500);
  --text-on-orange: var(--orange-500);
  --text-on-red: var(--red-500);
  --text-on-gray: var(--gray-600);
  --text-on-light-gray: var(--gray-800);
  --text-on-purple: var(--purple-500);

  --awesomplete-hover-bg: var(--control-bg);

  // Other Colors
  --sidebar-select-color: var(--gray-200);

  --shadow-inset: inset 0px -1px 0px var(--gray-900);
  --border-color: var(--gray-100);
  --dark-border-color: var(--gray-300);
  --table-border-color: var(--gray-200);
  --highlight-color: var(--gray-50);
  --yellow-highlight-color: var(--yellow-50);

  // Border Sizes
  --border-radius-sm: 4px;
  --border-radius: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-full: 999px;

  --primary-color: var(--blue-900) !important;
  --primary: var(--blue-900) !important;
  --btn-height: 40px;
  //--btn-width: 120%;

  --text-xs: 16px !important;
  --text-sm: 17px !important;
  --text-md: 18px !important;
  --text-base: 19px !important;
  --text-lg: 21px !important;
  --text-xl: 23px !important;
  --text-2xl: 25px !important;
  --text-3xl: 27px !important;

  --text-bold: 500;

  --navbar-height: 60px;

  // Layout Colors
  --bg-color: var(--gray-50);
  --fg-color: white;
  --navbar-bg: white;
  --fg-hover-color: var(--gray-100);
  --card-bg: var(--fg-color);
  --disabled-text-color: var(--gray-700);
  --control-bg: var(--gray-100);
  --control-bg-on-gray: var(--gray-200);
  --awesomebar-focus-bg: var(--fg-color);
  --modal-bg: white;
  --toast-bg: var(--modal-bg);
  --popover-bg: white;
  --checkbox-right-margin: var(--margin-xs);
  --base-checkbox-size: 22px;
  --custom-checkbox-size: 22px;

  --appreciation-color: var(--dark-green-600);
  --appreciation-bg: var(--dark-green-100);
  --criticism-color: var(--red-600);
  --criticism-bg: var(--red-100);

  // Error colors
  --error-bg: var(--red-50);
  --error-border: var(--red-400);

  // page
  --page-head-height: 75px;
  --page-bottom-margin: 60px;

  // timeline
  --timeline-item-icon-size: 50px;
  --timeline-item-left-margin: var(--margin-xl);
  --timeline-item-bottom-margin: var(--margin-sm);
  --timeline-content-max-width: 700px;
  --timeline-left-padding: calc(
    var(--padding-lg) + var(--timeline-item-icon-size) / 5
  );
}
