@mixin flex($dis: flex, $x: center, $y: center, $dir: row) {
	display: $dis;
	justify-content: $x;
	align-items: $y;
	flex-direction: $dir;
}

body.modal-open {
	overflow: hidden;
}

// Project list
.list-row-container {
	.list-actions {
		.btn-action {
			margin-right: 2em;
			background-color: var(--primary);
			color: var(--fg-color);
		}
	}
}

[data-page-route="List/Project/List"] {
	.list-row-checkbox,
	.list-check-all,
	.list-liked-by-me {
		display: none;
	}
}

.documents-list {
	ul {
		list-style-type: none;
		padding-inline-start: 0;
	}

	.document-row {
		margin: 5px 0 5px 0;
	}

	.data-pill .ellipsis {
		margin: auto;
	}

	button.data-pill {
		height: 100%;
	}
}

.legalization-type {
	border: 1px dashed var(--dark-border-color);
	border-radius: var(--border-radius);
}

.prev-btn,
.btn-secondary {
	border: 1px solid var(--primary-color) !important;
	color: var(--primary-color) !important;
	background-color: white !important;
	line-height: 1 !important;
}

.slide-wrapper {
	.subtitle {
		font-size: var(--text-sm);
		font-weight: 500;
	}

	.file-upload-area {
		min-height: 8rem;
	}
}

.slide-footer {
	.btn-primary {
		color: white;
	}
}

// Project slide - Temporary
.slide-body {
	.file-uploader {
		margin-bottom: 20px;
	}
	.file-preview {
		margin: 2px 0 2px 0;
	}

	[data-fieldname="type_of_document_html"] {
		margin-bottom: 2em;
	}
}

.form-sidebar {
	position: -webkit-sticky;
	position: sticky;
	top: calc(var(--navbar-height) + var(--page-head-height) + 5px);
}

// File Section
.file-section-preview {
	word-break: break-word;
}

.file-metadata {
	word-break: break-word;
}

.expand-button {
	color: var(--blue-500);
	cursor: pointer;
}

.download-button,
.file-certificate .control-label {
	color: var(--blue-500);
	cursor: pointer;
}

.modal-header {
	margin-bottom: 1em;
}

// Project task details
.modal-content [data-fieldname="action"] {
	padding: 2.5em;

	&.actions-timeline .form-page::before {
		content: " ";
		top: 40px;
		position: absolute;
		border-left: 1px solid var(--dark-border-color);
		bottom: calc(-1 * var(--timeline-item-bottom-margin) + 25px);
	}

	// .form-section {
	// 	border-radius: var(--border-radius-md);
	// 	box-shadow: var(--card-shadow);
	// 	padding: var(--padding-sm);
	// 	background-color: var(--card-bg);
	// 	margin-top: 0.8em;
	// }

	.section-head {
		color: var(--text-light);
		text-transform: uppercase;
		padding-left: 1em !important;
	}

	.section-number {
		background: var(--primary-color);
		line-height: 31px;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		margin-left: -27px;
		margin-top: -5px;
		color: white;
		text-align: center;
		font-weight: 600;
		z-index: 999;
		position: absolute;
		font-size: 1.2rem;
	}

	.form-section {
		border-top: none !important;
		padding-left: 1em;
	}
}

// Blockchain card
.transaction-hash,
.block-hash {
	overflow-wrap: break-word;
}

// Fileuploader
.file-preview-area {
	.file-preview {
		border-color: var(--dark-border-color);
		border-radius: var(--border-radius);
	}

	.btn-primary {
		margin-left: auto;
		margin-top: 5px;
	}
}

.file-upload-area {
	.btn-file-upload:first-child {
		circle {
			fill: var(--primary-color);
		}
	}
}

.btn-file-upload {
	font-size: var(--text-base) !important;
}
// File preview style
.file-preview {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	border: 1px solid transparent;
}

.file-preview + .file-preview {
	border-top-color: var(--border-color);
}

.file-preview:hover {
	background-color: var(--bg-color);
	border-color: var(--dark-border-color);
	border-radius: var(--border-radius);
}

.file-preview:hover + .file-preview {
	border-top-color: transparent;
}

.file-icon {
	border-radius: var(--border-radius);
	width: 2.625rem;
	height: 2.625rem;
	overflow: hidden;
	margin-right: var(--margin-md);
	flex-shrink: 0;
}

.file-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.file-icon .fallback {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

.file-name {
	font-size: var(--text-base);
	font-weight: var(--text-bold);
	color: var(--text-color);
	// display: -webkit-box;
	// -webkit-line-clamp: 1;
	// -webkit-box-orient: vertical;
	overflow: hidden;
}

.file-size {
	font-size: var(--text-sm);
	color: var(--text-light);
}

.file-actions {
	.btn {
		padding: 0 !important;
	}
	width: 2.5rem;
	flex-shrink: 0;
	margin-right: auto;
	//  margin-left: 0 !important;
}

.file-actions .btn {
	padding: var(--padding-xs);
	box-shadow: none;
}

.file-upload-area .btn-file-upload:first-child circle {
	fill: var(--primary-color) !important;
	width: 50px !important;
	height: 50px !important;
}

.file-upload-area,
.btn-file-upload {
	font-size: var(--text-base);
}

.text-medium {
	font-size: var(--text-base);
}

.timeline-content {
	.file-preview {
		border: none !important;
	}
}

.project-feed-card {
	padding: 0 !important;
	.project-card-head {
		width: 100%;
		padding: var(--padding-md) var(--padding-lg);
		margin: 0;
		margin-bottom: var(--margin-sm);
		border-bottom: 1px solid var(--border-color);
		.project-card-title {
			font-size: var(--text-base);
			font-weight: 600;
			color: var(--heading-color);
		}
		.project-card-subtitle {
			font-size: var(--text-sm);
			//margin-top: var(--margin-sm);
		}
	}

	.project-card-body {
		width: 100%;
		padding: var(--padding-md) var(--padding-lg);
		margin: 0;
		margin-bottom: var(--margin-sm);
		font-size: var(--text-sm);
	}
}

@mixin timeline-badge-color($color) {
	border: 1px solid var($color) !important;
	.popcorn-icon {
		stroke: var($color) !important;
	}
}

.form-sidebar {
	.timeline-badge {
		&.timeline-blue {
			@include timeline-badge-color(--primary-color);
			--icon-stroke: var(--primary-color) !important;
		}

		&.timeline-green {
			@include timeline-badge-color(--bg-green);
			--icon-stroke: var(--bg-green) !important;
		}

		&.timeline-grey {
			@include timeline-badge-color(--bg-light-gray);
			--icon-stroke: var(--bg-light-gray) !important;
		}

		&.timeline-red {
			@include timeline-badge-color(--bg-red);
			--icon-stroke: var(--bg-red) !important;
		}

		&.timeline-orange {
			@include timeline-badge-color(--bg-orange);
			--icon-stroke: var(--bg-orange) !important;
		}

		&.timeline-yellow {
			@include timeline-badge-color(--bg-yellow);
			--icon-stroke: var(--bg-yellow) !important;
		}
	}
}

.popcorn-icon {
	svg {
		width: 16px;
		height: 16px;
	}
}

.btn-secondary {
	border: 2px #f4f5f6 solid;
}

.navbar-home img {
	max-height: 42px !important;
}

.btn.disabled,
div#driver-popover-item .driver-popover-footer button.disabled,
.btn:disabled,
div#driver-popover-item .driver-popover-footer button:disabled {
	opacity: 0.8;
	box-shadow: none;
}

.file-upload-area {
	padding: 20px;
}

.btn,
.indicator-pill {
	letter-spacing: 1px !important;
}

$check-icon: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
input[type="checkbox"] {
	&:checked {
		background-color: var(--primary-color);
		background-image: $check-icon, linear-gradient(180deg, var(--primary-color) -124.51%, var(--primary-color) 100%);
	}
}

.icon-base,
.icon-md,
.icon-lg {
	width: 30px;
	height: 30px;
}

.input[type="checkbox"] {
	height: var(--custom-checkbox-size) !important;
	width: var(--custom-checkbox-size) !important;
	line-height: 0.5;
}

.btn-default {
	border: 1px solid gray !important;
}

.fa {
	font-size: 1.5rem !important;
}

.splash {
	width: calc(585px / 2) !important;
}

.pl-10 {
	padding-left: 10%;
}

@mixin indicator-pill-color($color) {
	background: var(--bg-#{$color});
	color: var(--text-on-#{$color});
	&::before,
	&::after {
		background: var(--text-on-#{$color});
	}
}

.avatar-timeline {
	background-color: var(--primary-color) !important;
	color: var(--fg-color) !important;
}

@mixin indicator-color($color) {
	&::before,
	&::after {
		background: var(--text-on-#{$color});
	}
}

.indicator.light-gray {
	@include indicator-color("light-gray");
}

.indicator-pill.light-gray,
.indicator-pill-right.light-gray,
.indicator-pill-round.light-gray {
	@include indicator-pill-color("light-gray");
}

/**
 * TASKS
 */

.task-not-started {
	color: var(--gray-500);
}

.task-active {
	color: var(--primary-color);
}

.task-active {
	color: var(--green-600);
}

.task-suspended {
	color: var(--yellow-400);
}

.task-cancelled {
	color: var(--red-400);
}

/**
 * PROJECTS
 */

.project-draft {
	color: var(--gray-500);
}

.project-active {
	color: var(--primary-color);
}

.project-active {
	color: var(--green-600);
}

.project-suspended {
	color: var(--yellow-400);
}

.project-cancelled {
	color: var(--red-400);
}

.project-late {
	color: var(--orange-500);
}

.project-archived {
	color: var(--gray-500);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-stack-title);
}

.btn {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;

	&:hover,
	&:active,
	&:focus {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.next-btn {
	background-color: var(--primary-color) !important;
	color: white !important;
}

.avatar-frame {
	padding: 20px;
}

.avatar-frame .standard-image {
	padding: 20px;
	background-color: var(--blue-avatar-bg) !important;
	color: var(--blue-avatar-color) !important;
}

.avatar-medium .standard-image {
	font-size: 14px;
}

.btn .btn-primary .btn-sm .primary-action {
	&:active {
		background-color: var(--primary-color) !important;
	}
}

.btn-primary:not(:disabled):not(.disabled):active {
	background-color: var(--primary-color) !important;
}

.indicator-pill.blue,
.indicator-pill-right.blue,
.indicator-pill-round.blue {
	background: var(--primary-color);
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill.light-gray,
.indicator-pill-right.light-gray,
.indicator-pill-round.light-gray {
	background: #a9aabe;
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill.red,
.indicator-pill-right.red,
.indicator-pill-round.red {
	background: #83122d;
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill.yellow,
.indicator-pill-right.yellow,
.indicator-pill-round.yellow {
	background: #ffbc00;
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill.orange,
.indicator-pill-right.orange,
.indicator-pill-round.orange {
	background: #ff760c;
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill.green,
.indicator-pill-right.green,
.indicator-pill-round.green {
	background: #008154;
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill.gray,
.indicator-pill-right.gray,
.indicator-pill-round.gray {
	background: #444558;
	color: var(--fg-color);
	&::before {
		background: var(--fg-color);
	}
}

.indicator-pill {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 18px;
	padding-bottom: 18px;
	// width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-title .title-area .title-text {
	line-height: 2;
}

.project-feed-card .project-card-head .project-card-title {
	line-height: 2;
}

.popcorn-icon svg {
	width: 25px !important;
	height: 25px !important;
}

.new-timeline .timeline-item .timeline-badge {
	width: 50px !important;
	height: 50px !important;
}

.new-timeline .timeline-item {
	min-height: 120px;

	.avatar {
		vertical-align: top;
	}
}

.input-xs {
	height: 100%;
}

// Profile
.user-profile {
	.avatar {
		cursor: pointer;
	}
}

.slides-wrapper {
	width: 700px;
	max-width: 700px;
}