body {
	background-color: var(--bg-light-gray);
	font-family: var(--font-stack);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-stack-title);
}

p {
	color: var(--text-light);
	font-size: var(--text-sm);
}

.file-preview-area {
	.file-preview-container {
		margin-bottom: 1em;
	}
	.btn-primary {
		margin-left: auto
	}

	.file-name-preview {
		.public-private-icon {
			display: none;
		}
	}
}

.file-audit-section {
	overflow-wrap: break-word;
	.result {
		padding: var(--padding-md) var(--padding-lg);
		margin-bottom: var(--margin-sm);
		border-bottom: 1px solid var(--border-color);
	}

	.control-label {
		margin-bottom: var(--margin-xs);
		font-weight: normal;
		color: var(--text-light);
		font-size: var(--text-sm);
	}

	.head-title {
		line-height: 2;
		font-size: var(--text-base);
		font-weight: 600;
		color: var(--heading-color);
	}

	.section-preview {
		color: var(--text-light);

		.expand-button, .download-button {
			color: var(--blue-500);
			cursor: pointer;
		}
	}
}