<template>
  <div
    class="file-uploader"
    @dragover.prevent="dragover"
    @dragleave.prevent="dragleave"
    @drop.prevent="dropfiles"
  >
    <div
      class="file-upload-area"
      v-show="files.length === 0 && !show_file_browser && !show_web_link"
    >
      <div v-if="!is_dragging">
        <div class="text-center">
          {{ __("Drag and drop files here or") }}
        </div>
        <div class="mt-2 text-center">
          <button class="btn btn-file-upload" @click="browse_files">
            <svg
              width="50"
              height="50"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="15" cy="15" r="15" fill="url(#paint0_linear)" />
              <path
                d="M13.5 22V19"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16.5 22V19"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.5 22H19.5"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7.5 16H22.5"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M21 8H9C8.17157 8 7.5 8.67157 7.5 9.5V17.5C7.5 18.3284 8.17157 19 9 19H21C21.8284 19 22.5 18.3284 22.5 17.5V9.5C22.5 8.67157 21.8284 8 21 8Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <defs>
                <linearGradient
                  id="paint0_linear"
                  x1="0"
                  y1="0"
                  x2="0"
                  y2="30"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#2C9AF1" />
                  <stop offset="1" stop-color="#2490EF" />
                </linearGradient>
              </defs>
            </svg>
            <div class="mt-1">{{ __("Select File") }}</div>
          </button>
          <input
            type="file"
            class="hidden"
            ref="file_input"
            @change="on_file_input"
            :multiple="allow_multiple"
            :accept="restrictions.allowed_file_types.join(', ')"
          />
          <button
            class="btn btn-file-upload"
            v-if="!disable_file_browser"
            @click="show_file_browser = true"
          >
            <svg
              width="50"
              height="50"
              viewBox="0 0 30 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="15" cy="15" r="15" fill="#48BB74" />
              <path
                d="M13.0245 11.5H8C7.72386 11.5 7.5 11.7239 7.5 12V20C7.5 21.1046 8.39543 22 9.5 22H20.5C21.6046 22 22.5 21.1046 22.5 20V14.5C22.5 14.2239 22.2761 14 22 14H15.2169C15.0492 14 14.8926 13.9159 14.8 13.776L13.4414 11.724C13.3488 11.5841 13.1922 11.5 13.0245 11.5Z"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="square"
              />
              <path
                d="M8.87939 9.5V8.5C8.87939 8.22386 9.10325 8 9.37939 8H20.6208C20.8969 8 21.1208 8.22386 21.1208 8.5V12"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="mt-1">{{ __("Library") }}</div>
          </button>
          <!-- <button class="btn btn-file-upload" @click="show_web_link = true">
						<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="15" fill="#ECAC4B"/>
							<path d="M12.0469 17.9543L17.9558 12.0454" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M13.8184 11.4547L15.7943 9.47873C16.4212 8.85205 17.2714 8.5 18.1578 8.5C19.0443 8.5 19.8945 8.85205 20.5214 9.47873V9.47873C21.1481 10.1057 21.5001 10.9558 21.5001 11.8423C21.5001 12.7287 21.1481 13.5789 20.5214 14.2058L18.5455 16.1818" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M11.4547 13.8184L9.47873 15.7943C8.85205 16.4212 8.5 17.2714 8.5 18.1578C8.5 19.0443 8.85205 19.8945 9.47873 20.5214V20.5214C10.1057 21.1481 10.9558 21.5001 11.8423 21.5001C12.7287 21.5001 13.5789 21.1481 14.2058 20.5214L16.1818 18.5455" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<div class="mt-1">{{ __('Link') }}</div>
					</button> -->
        </div>
        <div class="text-muted text-medium">
          {{ upload_notes }}
        </div>
      </div>
      <div v-else>
        {{ __("Drop files here") }}
      </div>
    </div>
    <div
      class="file-preview-area"
      v-show="files.length && !show_file_browser && !show_web_link"
    >
      <!-- <div class="margin-bottom" v-if="!upload_complete">
				<label>
					<input type="checkbox" class="input-with-feedback" @change="e => toggle_all_private(e.target.checked)">
					<span class="text-medium" style="font-weight: normal;">
						{{ __('Make all attachments private') }}
					</span>
				</label>
			</div> -->
      <div class="file-preview-container">
        <FilePreview
          v-for="(file, i) in files"
          :key="file.name"
          :file="file"
          :always_show_deletion="!always_show_deletion"
          @remove="remove_file(i)"
          @toggle_private="toggle_private(i)"
        />
      </div>
      <div
        class="flex align-center"
        v-if="show_upload_button && currently_uploading === -1"
      >
        <button
          class="btn btn-primary btn-sm margin-right"
          @click="upload_files"
        >
          <span v-if="files.length === 1">
            {{ __("Submit my file") }}
          </span>
          <span v-else>
            {{ __("Submit {0} files", [files.length]) }}
          </span>
        </button>
        <!-- <div class="text-muted text-medium">
					{{ __('Click on the lock icon to toggle public/private') }}
				</div> -->
      </div>
    </div>
    <FileBrowser
      ref="file_browser"
      v-if="show_file_browser && !disable_file_browser"
      @hide-browser="show_file_browser = false"
    />
    <WebLink
      ref="web_link"
      v-if="show_web_link"
      @hide-web-link="show_web_link = false"
    />
  </div>
</template>

<script>
import FilePreview from "./FilePreview.vue";
import FileBrowser from "./FileBrowser.vue";
import WebLink from "./WebLink.vue";

export default {
  name: "FileUploader",
  props: {
    show_upload_button: {
      default: true,
    },
    always_show_deletion: {
      default: false,
    },
    disable_file_browser: {
      default: false,
    },
    allow_multiple: {
      default: true,
    },
    as_dataurl: {
      default: false,
    },
    doctype: {
      default: null,
    },
    docname: {
      default: null,
    },
    fieldname: {
      default: null,
    },
    folder: {
      default: "Home",
    },
    status: {
      default: null,
    },
    on_success: {
      default: null,
    },
    on_add: {
      default: null,
    },
    on_remove: {
      default: null,
    },
    restrictions: {
      default: () => ({
        max_file_size: null, // 2048 -> 2KB
        max_number_of_files: null,
        allowed_file_types: [], // ['image/*', 'video/*', '.jpg', '.gif', '.pdf']
      }),
    },
    upload_notes: {
      default: null, // "Images or video, upto 2MB"
    },
  },
  components: {
    FilePreview,
    FileBrowser,
    WebLink,
  },
  data() {
    return {
      files: [],
      is_dragging: false,
      currently_uploading: -1,
      show_file_browser: false,
      show_web_link: false,
    };
  },
  watch: {
    files(newvalue, oldvalue) {
      if (!this.allow_multiple && newvalue.length > 1) {
        this.files = [newvalue[newvalue.length - 1]];
      }
    },
  },
  computed: {
    upload_complete() {
      return (
        this.files.length > 0 &&
        this.files.every(
          (file) => file.total !== 0 && file.progress === file.total
        )
      );
    },
  },
  methods: {
    dragover() {
      this.is_dragging = true;
    },
    dragleave() {
      this.is_dragging = false;
    },
    dropfiles(e) {
      this.is_dragging = false;
      this.add_files(e.dataTransfer.files);
    },
    browse_files() {
      this.$refs.file_input.click();
    },
    on_file_input(e) {
      this.add_files(this.$refs.file_input.files);
    },
    remove_file(i) {
      this.files = this.files.filter((file, j) => i !== j);
      this.on_remove && this.on_remove(i);
    },
    toggle_private(i) {
      this.files[i].private = !this.files[i].private;
    },
    toggle_all_private(flag) {
      if (flag == null) {
        flag = this.files.every((file) => file.private);
      }
      this.files = this.files.map((file) => {
        file.private = flag;
        return file;
      });
    },
    add_files(file_array) {
      let files = Array.from(file_array)
        .filter(this.check_restrictions)
        .map((file) => {
          let is_image = file.type.startsWith("image");
          return {
            file_obj: file,
            name: file.name,
            doc: null,
            progress: file.progress || 0,
            total: file.total || 0,
            failed: false,
            uploading: false,
            private: !is_image,
          };
        });
      this.files = this.files.concat(files);
      this.on_add && this.on_add(files);
    },
    check_restrictions(file) {
      let { max_file_size, allowed_file_types } = this.restrictions;

      let mime_type = file.type;
      let extension = "." + file.name.split(".").pop();

      let is_correct_type = true;
      let valid_file_size = true;

      if (allowed_file_types.length) {
        is_correct_type = allowed_file_types.some((type) => {
          // is this is a mime-type
          if (type.includes("/")) {
            if (!file.type) return false;
            return file.type.match(type);
          }

          // otherwise this is likely an extension
          if (type[0] === ".") {
            return file.name.endsWith(type);
          }
          return false;
        });
      }

      if (max_file_size && file.size != null) {
        valid_file_size = file.size < max_file_size;
      }

      if (!is_correct_type) {
        console.warn("File skipped because of invalid file type", file);
      }
      if (!valid_file_size) {
        console.warn(
          "File skipped because of invalid file size",
          file.size,
          file
        );
      }

      return is_correct_type && valid_file_size;
    },
    upload_files() {
      if (this.show_file_browser) {
        return this.upload_via_file_browser();
      }
      if (this.show_web_link) {
        return this.upload_via_web_link();
      }
      if (this.as_dataurl) {
        return this.return_as_dataurl();
      }
      return frappe.run_serially(
        this.files.map((file, i) => () => this.upload_file(file, i))
      );
    },
    upload_via_file_browser() {
      let selected_file = this.$refs.file_browser.selected_node;
      if (!selected_file.value) {
        frappe.msgprint(__("Click on a file to select it."));
        return Promise.reject();
      }

      return this.upload_file({
        file_url: selected_file.file_url,
      });
    },
    upload_via_web_link() {
      let file_url = this.$refs.web_link.url;
      if (!file_url) {
        frappe.msgprint(__("Invalid URL"));
        return Promise.reject();
      }

      return this.upload_file({
        file_url,
      });
    },
    return_as_dataurl() {
      let promises = this.files.map((file) =>
        frappe.dom.file_to_base64(file.file_obj).then((dataurl) => {
          file.dataurl = dataurl;
          this.on_success && this.on_success(file);
        })
      );
      return Promise.all(promises);
    },
    upload_file(file, i, method) {
      this.currently_uploading = i;
      return new Promise((resolve, reject) => {
        let xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("loadstart", (e) => {
          file.uploading = true;
        });
        xhr.upload.addEventListener("progress", (e) => {
          if (e.lengthComputable) {
            file.progress = e.loaded;
            file.total = e.total;
          }
        });
        xhr.upload.addEventListener("load", (e) => {
          file.uploading = false;
          resolve();
        });
        xhr.addEventListener("error", (e) => {
          file.failed = true;
          reject();
        });
        xhr.onreadystatechange = () => {
          if (xhr.readyState == XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
              let r = null;
              let file_doc = null;
              try {
                r = JSON.parse(xhr.responseText);
                if (r.message.doctype === "File") {
                  file_doc = r.message;
                }
              } catch (e) {
                r = xhr.responseText;
              }

              file.doc = file_doc;

              if (this.on_success) {
                this.on_success(file_doc, r);
              }
            } else if (xhr.status === 403) {
              let response = JSON.parse(xhr.responseText);
              frappe.msgprint({
                title: __("Not permitted"),
                indicator: "red",
                message: response._error_message,
              });
            } else {
              file.failed = true;
              let error = null;
              try {
                error = JSON.parse(xhr.responseText);
              } catch (e) {
                // pass
              }
              frappe.request.cleanup({}, error);
            }
          }
        };
        xhr.open("POST", method || "/api/method/popcorn.upload.upload_file", true);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("X-Frappe-CSRF-Token", frappe.csrf_token);

        let form_data = new FormData();
        if (file.file_obj) {
          form_data.append("file", file.file_obj, file.name);
        }
        form_data.append("is_private", +file.private);
        form_data.append("folder", this.folder);

        if (file.file_url) {
          form_data.append("file_url", file.file_url);
        }

        if (this.doctype && this.docname) {
          form_data.append("doctype", this.doctype);
          form_data.append("docname", this.docname);
        }

        if (this.fieldname) {
          form_data.append("fieldname", this.fieldname);
        }

        if (this.status) {
          form_data.append("status", this.status);
        }

        xhr.send(form_data);
      });
    },
  },
};
</script>
<style>
.file-upload-area {
  min-height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--dark-border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--bg-color);
}

.btn-file-upload {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: var(--text-xs);
}
</style>
