<div class="header-content">
	<div class="header-title">
		<h2>
			<div>{{ _("Certificate of blockchain signature") }}</div>
			<small class="sub-heading">{{ doc.file_name }}</small>
		</h2>
		<div class="mb-4">
			{{ doc.qr_code }}
		</div>
	</div>
	<img class="popcorn-logo" src="{{ logo }}" height="125">
</div>

<div id="footer-html" class="visible-pdf">
	{% if footer %}
	<div class="letter-head-footer">
		{{ footer }}
	</div>
	{% endif %}
	<p class="text-center small page-number visible-pdf">
		{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
	</p>
</div>

<div class="page-break">
	<div class="row mb-4">
		<div class="col-12">
			<div class="text-muted">{{ _("Project Name")}}</div>
			<div class="control-label">{{ doc.project or "" }}</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="text-muted">{{ _("Document Name")}}</div>
			<div class="control-label">{{ doc.file_name }}</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12">
			<div class="text-muted">{{ _("Document Hash (SHA-256")}}</div>
			<div class="control-label">{{ doc.hash }}</div>
		</div>
	</div>
	<div class="divider"></div>
	<div>
		<h3>{{ _("Blockchain registration information") }}</h3>
	</div>

	<div class="row mb-4">
		<div class="col-12">
			<div class="text-muted">{{ _("Blockchain validator")}}</div>
			<div class="control-label">{{ doc.proof.public_key if "proof" in doc else _("Not available yet") }}</div>
			{% if doc.signature_verification %}
			<div class="control-label">{{ _("This document has been signed by Davron Digital public key.") }}</div>
			{% endif %}
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-12">
			<div class="text-muted">{{ _("Merkel Tree Root Hash")}}</div>
			<div class="control-label">{{ doc.merkel_root if "merkel_root" in doc else _("Not available yet") }}</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-6">
			<div class="text-muted">{{ _("Blockchain block")}}</div>
			<div class="control-label">{{ doc.block_hash if "block_hash" in doc else _("Not available yet") }}</div>
		</div>
		<div class="col-6">
			<div class="text-muted">{{ _("Blockchain transaction")}}</div>
			<div class="control-label">{{ doc.transaction_hash if "transaction_hash" in doc else _("Not available yet") }}</div>
		</div>
	</div>
	<div class="divider mb-4"></div>
	<div>
		<h3>{{ _("Audit log") }}</h3>
	</div>

	{% for log in audit %}

	<div class="row mb-4" style="page-break-inside: avoid">
		<div class="col-12">
			<div class="control-label" style="font-weight: 600;">{{ log.log_type or "" }}</div>
			<div class="text-muted">{{ frappe.utils.format_date(log.creation) }} {{ _("by") }} {{ log.user or "" }}</div>
			<div class="control-label">{{ log.value or "" }}</div>
		</div>
	</div>

	{% endfor %}
</div>

{% block style %}
<style>
	body {
		font-family: "Lato";
	}
	h1, h2, h3, h4, h5, h6, .sub-heading {
		font-family: "American Typewriter";
	}

	.print-format {
		margin-top: 15mm;
		margin-bottom: 15mm;
	}

	.header-content .popcorn-logo {
		display: inline-block;
		vertical-align: top;
		margin-left: 90px;
	}
	.header-title {
		display: inline-block;
	}

	.header-title h2,
	.page-break {
		margin-left: 12px;
	}

	.divider {
		height: 0;
		margin: .5rem 0;
		overflow: hidden;
		border-top: 1px solid #e9ecef;
	}

	.control-label {
		margin-bottom: 5px;
		font-weight: normal;
		color: #333c44;
		font-size: 17px !important;
		white-space: pre !important;
		overflow-wrap: break-word !important;
		overflow: hidden !important;
		word-wrap: break-word !important;
	}

	.text-muted {
		color: #687178 !important;
	}

	.mb-4 {
		margin-bottom: 21px !important;
	}
	.row {
		display: -webkit-box;
		display: flex;
		flex-wrap: wrap;
	}
	.col-6 {
		flex: 0 0 50%;
		max-width: 50%;
		position: relative;
		width: 100%;
		min-width: 0;
	}

	.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
		position: relative;
		width: 100%;
		min-width: 0;
	}
	
</style>
{% endblock %}