<p>{{ _("The problem {0} has been corrected by {1}.").format(_(rejection_reasons), customer_name) }}</p>
<p>{{ _("The {0} project is ready to resume.").format(project_name) }}</p>
<p>{{ _("To validate the customer's correction and complete the {0}, please click").format(task_action) }} {{ project_url }} {{ _("here") }}</a>.</p>
