<div class="row user-profile mx-auto">
	<div class="col-12">
		<div class="frappe-card chart-column-container">
			<div class="row">
				<div class="d-none d-sm-block col-sm-3 text-center">
					<div class="flex">
						<div class="mr-5">
							<div id="avatar"></div>
						</div>
						<div class="text-left">
							<h4 class="mt-4">{{ __("My profile") }}</h4>
							<p class="mt-0" id="full-name"></p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-9 text-center"></div>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6" id="general_information">
		<div class="frappe-card chart-column-container h-100">
			<div class="row my-2">
				<div class="col-12 col-sm-6" id="phone_number"></div>
				<div class="col-12 col-sm-6" id="email_address"></div>
			</div>
			<div class="row my-2">
				<div class="col-12 col-sm-6" id="customer"></div>
				<div class="col-12 col-sm-6" id="vat_number"></div>
			</div>
			<div class="row my-2">
				<div class="col-12 col-sm-6" id="language"></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6" id="adress-div">
		<div class="frappe-card chart-column-container h-100">
			<div class="row">
				<div class="col-12 col-sm-6" id="billing_address"></div>
				<div class="col-12 col-sm-6" id="delivery_address"></div>
			</div>
			<!-- <div class="row">
				<img src="" id="customer_logo">
			</div> -->
		</div>
	</div>
</div>
<div class="col-12 mt-5">
	<div class="d-flex justify-content-center text-center">
		<img src="/assets/popcorn/images/PopcornLogo_585x103.png" class="w-20 mt-4" style="width: 300px" />
	</div>
</div>