<p>{{ _("The {0} project has been suspended due to {1}.").format(project_name, _(rejection_reasons)) }}</p>
<p>{{ _("Please correct this as soon as possible.") }}</p>
<p>{{ _("The project will resume once your correction has been validated by the supplier.") }}</p>