<p>{{ _("The supplier has validated your correction.") }}</p>
<p>{{ _("The {0} project resumed on {1}.").format(project_name, unsuspension_datetime) }}</p>
<p>{{ _("Your documents are expected to be available on {0}").format(new_expected_date) }}</p>