<p>{{ _("The {0} project has been finalised.").format(project_name) }}</p>
<p>{{ _("Your documents will be sent to the following address as soon as possible:")}}</p>
<div>{{ delivery_address }}</div>
<p>{{ _("They can be downloaded") }} {{ project_url }}.</p>