<p>{{ _("You have just created the project {0} for {1}.").format(project.project_name, _(project.country_of_destination)) }}</p>
<p>{{ _("You can track the progress of the project on your personal account.") }}</p>
<p>{{ _("Your documents are expected to be available on {0}").format(frappe.utils.format_date(project.expected_end_date)) }}.</p>